<div class="row">
    <div class="col text-left">
        <h3>Create a New Product</h3>
    </div>
</div>

<section class="my-3">
    <form (submit)="createNewProduct($event)">
        <div class="row form-group">
            <div class="col-md-2"><h5>Title</h5></div>
            <div class="col">
                <input type="text" name="productD.title"
                [(ngModel)]="productD.title" 
                class="form-control"
                placeholder="Product title">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><h5>Price</h5></div>
            <div class="col">
                <input type="text" name="productD.price"
                [(ngModel)]="productD.price" 
                class="form-control"
                placeholder="Product price">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2"><h5>Image URL</h5></div>
            <div class="col">
                <input type="text" name="productD.imgURL"
                [(ngModel)]="productD.imgURL" 
                class="form-control"
                placeholder="Product image">
            </div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <div class="col-md-2 text-center">
                <a [routerLink]="['/products']"
                class="btn btn-secondary"
                >Cancel</a>
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-success"
                type="submit"
                >Create</button>
            </div>
        </div>
    </form>
</section>